/*main module*/
.main {
  margin: 2em auto;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1024px;
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__header > span > div {
  display: inline-block;
}
.main__header > span > label {
  font-weight: bold;
  margin-right: 0.5rem;
}
.main__body {
  margin-top: 1em;
}
.main__body > li + li {
  margin-top: 1.2em;
}

.empty-state {
  font-size: 1.5em;
  text-align: center;
  padding: 5em 4em;
}
.empty-state > .emp {
  color: #962164;
}

@media (min-width: 645px) {
  .main {
    padding-left: 2em;
    padding-right: 2em;
  }
  .main__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.2em;
  }
  .main__body > li {
    flex: calc((100% - 2.4em) / 2);
    margin-left: 1.2em;
    margin-top: 1.2em;
    max-width: calc((100% - 2.4em) / 2);
  }
}
@media (min-width: 1024px) {
  .main__body > li {
    flex: calc((100% - 3.6em) / 3);
    max-width: calc((100% - 3.6em) / 3);
  }
}
